<div class="swiper-main swiper">
    <div class="swiper-main__wrapper swiper-wrapper">
        <div class="swiper-main__slide swiper-slide">
            <div class="swiper-main__slide-wrapper">
                <div class="swiper-main__block">
                    <div class="swiper-main__inner">
                        <div class="swiper-main__text">
                            <h1 class="f-r2">AquaLife</h1>
                            <p class="f-b3">Установка и доставка бесплатно!</p>
                            <p class="f-b3">Закажите фильтр для воды сейчас и наслаждайтесь всю жизнь</p>
                            <div class="buttons"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-main__benefits">
                    <p class="swiper-main__benefits-item f-r">Гарантия 1 год</p>
                    <p class="swiper-main__benefits-item f-r">Качественный сервис</p>
                    <p class="swiper-main__benefits-item f-r">Низкая цена</p>
                </div>
                <div class="video-swiper">
                    <video src="assets/video/swiperMain/video-slidermain11.mp4" loop autoplay preload="auto" muted></video>
                </div>
            </div>
        </div>
        <div class="swiper-main__slide swiper-slide">
            <div class="swiper-main__slide-wrapper">
                <div class="swiper-main__block">
                    <div class="swiper-main__inner">
                        <div class="swiper-main__text">
                            <h1 class="f-b2">Рассрочка БЕЗ банка</h1>
                            <p class="f-b3">У вас есть возможность приобрести фильтр для воды в рассрочку!</p>
                            <p class="f-b3">Закажите фильтр для воды сейчас и наслаждайтесь всю жизнь</p>
                            <div class="buttons"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-main__benefits">
                    <p class="swiper-main__benefits-item f-r">Установим фильтр сразу</p>
                    <p class="swiper-main__benefits-item f-r">Без поручителя</p>
                    <p class="swiper-main__benefits-item f-r">Нужен только паспорт</p>
                    <p class="swiper-main__benefits-item f-r">Минимальный процент и первоначальный взнос</p>
                </div>
            </div>
        </div>
        <div class="swiper-main__slide swiper-slide">
            <div class="swiper-main__slide-wrapper"></div>
        </div>
    </div>
    <div class="swiper-main__pagination swiper-pagination"></div>
</div>