* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  @include font-smoothing(on);
  font-family: $primary-font;
  min-width: 320px;

  &.overflow {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

// Scroll
.scroll-wrap::-webkit-scrollbar {
  width: 3px;
  background-color: #ccc;
}

.scroll-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

// Media
// @include media(">=desktop") {

// }
.page {
  font-size: 10px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;

  &__body {
      margin: 0;
      height: 100%;
      font-family: "mplus_r", "Arial", sans-serif;
  }

  &__wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100%;
  }
}

.main {
  flex: 1 0 auto;
}

.link {
  text-decoration: none;
  cursor: pointer;
  &:hover {
      opacity: 0.4;
  }
}

.overflow-hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"] .visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::placeholder {
  font-family: "mlus_r";
  font-size: 1.4rem;
  color: $white;
  font-weight: 500;
}
