.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-aprove {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-arr-left {
	font-size:(400/10)*1rem;
	width:(400/400)*1em;
}
.icon-arr-rigth {
	font-size:(400/10)*1rem;
	width:(400/400)*1em;
}
.icon-arr-up {
	font-size:(400/10)*1rem;
	width:(400/400)*1em;
}
.icon-close {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-document {
	font-size:(511.79/10)*1rem;
	width:(435/511.79)*1em;
}
.icon-economy {
	font-size:(122.88/10)*1rem;
	width:(122.38/122.88)*1em;
}
.icon-facebook {
	font-size:(65/10)*1rem;
	width:(65/65)*1em;
}
.icon-friend {
	font-size:(115.48/10)*1rem;
	width:(122.88/115.48)*1em;
}
.icon-insta {
	font-size:(256/10)*1rem;
	width:(256/256)*1em;
}
.icon-telegram {
	font-size:(400/10)*1rem;
	width:(400/400)*1em;
}
.icon-timezone {
	font-size:(122.88/10)*1rem;
	width:(122.38/122.88)*1em;
}
.icon-whatsAppBtn {
	font-size:(400/10)*1rem;
	width:(400/400)*1em;
}
.icon-whatsapp {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
