.main-title {
  font-size: 3rem;
}

.section-title {
  font-size: 2rem;
}

.base-text {
  font-size: 1.6rem;
}

.typography {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}

.f-b {
  font-size: 4rem;
  font-family: "mplus_r";
  font-weight: 700;
}

.f-b1 {
  font-size: 3.4rem;
  font-family: "mplus_r";
  font-weight: 700;
}

.f-b2 {
  font-size: 3.2rem;
  font-family: "mplus_r";
  font-weight: 700;
}

.f-b3 {
  font-size: 2.4rem;
  font-family: "mplus_r";
  font-weight: 400;
}

.f-b4 {
  font-size: 2rem;
  font-family: "mplus_r";
  font-weight: 700;
}

.f-r {
  font-size: 2.4rem;
  font-family: "mplus_r";
  font-weight: 400;
}

.f-r2 {
  font-size: 3.2rem;
  font-family: "mplus_r";
  font-weight: 400;
}
