<footer class="footer">
    <div class="container">
        <div class="sohial-aqua">
            <img src="/src/images/content/logo.png" class="logo" alt="logo" width="156" height="auto">
        </div>

        <div class="social-fb">
            <img src="/src/images/icons/facebook.svg" class="logo" alt="logo" width="20" height="auto">
        </div>
        <div class="sohial-insta">
            <img src="/src/images/icons/insta.svg" class="logo" alt="logo" width="35" height="auto">
        </div>
    </div>
    <div class="whatsapp">
        <a title="Whatsapp" href="whatsapp://send?phone=79270000000"><img src="/src/images/icons/whatsAppBtn.svg" alt="Написать в Whatsapp" width="120" height="auto" /></a>
        </a>
    </div>

</footer>