<header class="header">
  <div>
    <div class="container">
      <div class="header__inner">
        <div class="header__wrap">
          <nav class="menu nav js-burger">
            <div class="menu__wrapper">
              <div class="logo">
                <a class="logo__link">
                  <picture>
                    <source type="image/webp" media="(min-width: 320px)" srcset="assets/images/content/logo.webp 1x" />
                    <img class="logo__image" src="assets/images/content/logo.png" alt="necklace Necklace"
                    width="270" height="60" />
                  </picture>
                </a>
              </div>
              <ul class="menu__list nav__list">
                <li class="menu__nav-item">
                  <a class="hover-5 menu__nav-link" href="#about" aria-label="О компании"><span>О компании</span></a>
                </li>
                <li class="menu__nav-item">
                  <a class="hover-5 menu__nav-link" href="#catalog" aria-label="Каталог"><span>Каталог</span></a>
                </li>
                <li class="menu__nav-item">
                  <a class="hover-5 menu__nav-link" href="#service" aria-label="Сервис"><span>Сервис</span></a>
                </li>
                <li class="menu__nav-item">
                  <a class="hover-5 menu__nav-link" href="#stock" aria-label="Акции"><span>Акции</span></a>
                </li>
                <li class="menu__nav-item">
                  <a class="hover-5 menu__nav-link" href="#contacts" aria-label="Контакты"><span>Контакты</span></a>
                </li>
              </ul>

              <div class="social">
                <div class="social__wrapper">
                  <div class="social__inner">
                    <a href="#" class="social__link">
                      <svg role="img" width="40" height="40" aria-label="instagram">
                        <use xlink:href="#insta"></use>
                      </svg>
                    </a>
                    <a href="#" class="social__link">
                      <svg role="img" width="45" height="45" aria-label="facebook">
                        <use xlink:href="#facebook"></use>
                      </svg>
                    </a>
                    <a href="#" class="social__link link-phone link-phone-mb">
                      <svg role="img" width="35" height="35" aria-label="whatsapp">
                        <use xlink:href="#whatsapp"></use>
                      </svg>
                    </a>
                  </div>
                  <div class="link-phone-text">
                    <a href="tel:+996500034422">+996 (500) 03-44-22</a>
                    <a href="tel:+996555034422">+996 (555) 03-44-22</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <button type="button" class="burger js-burger-open">
          <span class="burger__span"></span>
          <span class="burger__span"></span>
          <span class="burger__span"></span>
        </button>

        <div class="logo logo-mb">
          <a class="logo__link">
            <picture>
              <source type="image/webp" media="(min-width: 320px)" srcset="assets/images/content/logo.webp 1x" />
              <img class="logo__image" src="assets/images/content/logo.png" alt="necklace Necklace"
              width="270" height="60" />
            </picture>
          </a>
        </div>
      </div>
    </div>

    @@include('../components/sliders/index/swiper-main.html')
  </div>
</header>